:root {
    --padding-main: 5rem;
    --height-header: 6rem;
    --color-branding: rgb(140, 74, 255);
    --color-branding-hover: rgba(140, 74, 255, 0.8);
    --border-radius: 8px;
    --letter-spacing-1: 2px;
    --letter-spacing-2: 4px;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #fff;
    background-color: black;
}

body {
    width: 100%;
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    width: 100%;
    margin: 5rem 0;
    padding: 0 var(--padding-main);
}

h1 {
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: var(--letter-spacing-1);
}

h2 {
    font-size: 2.25rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-2);
    margin-bottom: 5rem;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

h4 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 1.75rem;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--color-branding);
    cursor: pointer;
}

button:hover {
    background-color: var(--color-branding-hover);
}


/* Header styles */
header {
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-1);
    width: 100%;
    height: var(--height-header);
    padding: 0 var(--padding-main);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.logoContainer {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid rgb(64, 0, 128);
}

.logoContainer img {
    max-width: 100%;
    height: auto;
    display: block;
}

header ul {
    display: flex;
    gap: 2rem;
}


/* Main content styles */
/* Welcome section */
.welcome {
    height: calc(100vh - 5rem - var(--height-header));
    padding: 9% 14%;
}

.welcome p {
    font-size: 1.125rem;
    line-height: 1.6;
    max-width: 50rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.9);
}

.welcome a {
    margin-right: 2rem;
    text-decoration: underline;
    color: var(--color-branding);
}

.welcome a:hover {
    color: var(--color-branding-hover);
}


/* About section */
#about {
    margin-top: 2rem;
    padding-right: 2rem;
}

#about > h2 {
    position: relative;
    left: 2rem;
}

#about > div {
    display: flex;
    justify-content: center;
    gap: 14rem;
}

.bio-container {
    max-width: 33rem;
}

.bio-container p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
    color: rgba(255, 255, 255, 0.9);
}

.skills-main-container {
    min-width: 24rem;
    max-width: 32rem;
}

.skills-container {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.skill {
    padding: 1rem 1.25rem;
    background-color: #353535aa;
    border-radius: var(--border-radius);
}


/* Projects section */
#projects {
    margin-top: 12rem;
    padding: 1rem 10rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline {
    width: 16px;
    height: 80rem;
    position: absolute;
    left: 50%;
    top: 10rem;
    background-color: rgba(0, 217, 37, 0.9);
    border-radius: var(--border-radius);
}

.project-outer-container {
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.project-img-title-container {
    /* border: 1px solid blue; */
    width: 37%;
    padding-left: 10%;
    position: relative;
    top: 1rem;
}

.project-img-container {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    border: 2px solid var(--color-branding);
    position: relative;
    cursor: pointer;
}

.project-img-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

.project-img-title-container p {
    font-size: 1.25rem;
    text-align: center;
    letter-spacing: var(--letter-spacing-1);
    margin-top: 1.5rem;
}

.project-description {
    font-size: 1.125rem;
    line-height: 1.4;
    width: 37%;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.1);
}

.circle {
    width: 44px;
    height: 44px;
    position: relative;
    left: 8px;
    border-radius: 50%;
    background-color: rgb(0, 217, 37);
}
