/* Variable declarations */
:root {
    --padding-main-1: 10rem;
    --padding-main-2: 6rem;
    --padding-main-3: 4rem;
    --padding-main-4: 3rem;
    --padding-main-5: 2rem;

    --max-width-page: 1500px;
    --height-header: 4.5rem;

    --color-branding: rgb(140, 74, 255);
    --color-branding-hover: rgba(140, 74, 255, 0.8);
    --color-text-darkerWhite: rgba(255, 255, 255, 0.9);

    --border-radius: 8px;
    --letter-spacing-1: 2px;
    --letter-spacing-2: 4px;
}

/* Universal styles */
html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #fff;
    background-color: black;
}

body {
    width: 100%;
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    margin: 5rem 0;
    padding: 0 var(--padding-main-1);
}

main,
footer {
    max-width: var(--max-width-page);
    position: relative;
    top: var(--height-header);
}

main,
footer {
    /* border: 1px solid red; */
}

h1 {
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: var(--letter-spacing-1);
}

h2 {
    font-size: 2.25rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-2);
    margin-bottom: 5rem;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

h4 {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 1.75rem;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--color-branding);
    cursor: pointer;
}

button:hover {
    background-color: var(--color-branding-hover);
}

@media only screen and (max-width: 1100px) {
    main {
        padding: 0 var(--padding-main-2);
    }

    h1 {
        font-size: 4.25rem;
    }

    h2 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 900px) {
    main {
        padding: 0 var(--padding-main-3);
    }

    h1 {
        font-size: 3.875rem;
    }

    h2 {
        font-size: 1.875rem;
        margin-bottom: 4rem;
    }

    .desktop {
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    main {
        padding: 0 var(--padding-main-4);
    }

    h2 {
        font-size: 1.625rem;
    }

    .tablet {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    main {
        padding: 0 var(--padding-main-5);
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.375rem;
        margin-bottom: 3rem;
    }
}



/* Header styles */
header {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-1);
    width: 100%;
    max-width: var(--max-width-page);
    height: var(--height-header);
    padding: 0 calc(var(--padding-main-1) - 1rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-image: url(./images/header-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1.375rem;
}

.logoContainer {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid rgb(64, 0, 128);
}

.logoContainer img {
    max-width: 100%;
    height: auto;
    display: block;
}

header ul {
    display: flex;
    gap: 2rem;
}

@media only screen and (max-width: 1100px) {
    header {
        font-size: 0.9375rem;
        padding: 0 var(--padding-main-2);
    }

    .logoContainer {
        width: 2.75rem;
        height: 2.75rem;
    }

    header ul {
        gap: 1.75rem;
    }
}

@media only screen and (max-width: 900px) {
    header {
        font-size: 0.875rem;
        padding: 0 var(--padding-main-3);
    }

    .logo {
        gap: 1rem;
    }

    .logoContainer {
        width: 2.625rem;
        height: 2.625rem;
    }

    header ul {
        gap: 1.25rem;
    }
}

@media only screen and (max-width: 650px) {
    header {
        padding: 0 var(--padding-main-4);
    }

    .logoContainer {
        width: 2.875rem;
        height: 2.875rem;
    }

    header ul {
        gap: 1.125rem;
    }
}

@media only screen and (max-width: 450px) {
    header {
        font-size: 0.75rem;
        padding: 0 var(--padding-main-5);
    }

    .logoContainer {
        width: 2.5rem;
        height: 2.5rem;
    }

    header ul {
        gap: 1rem;
    }
}

@media only screen and (max-width: 350px) {
    header {
        font-size: 0.6875rem;
        padding: 0 1.5rem;
    }

    .logoContainer {
        width: 2.375rem;
        height: 2.375rem;
    }

    header ul {
        gap: 0.75rem;
    }
}

/* Main content styles */
/* Welcome section */
.welcome {
    height: calc(100vh - 5rem - var(--height-header));
    padding: 15% 2rem;
}

.welcome p {
    font-size: 1.125rem;
    line-height: 1.6;
    max-width: 50rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    color: var(--color-text-darkerWhite);
}

.welcome a {
    margin-right: 2rem;
    text-decoration: underline;
    color: var(--color-branding);
}

.welcome a:hover {
    color: var(--color-branding-hover);
}

@media only screen and (max-width: 1300px) {
    .welcome p {
        font-size: 1rem;
        max-width: 42rem;
    }
}

@media only screen and (max-width: 1100px) {
    .welcome p {
        max-width: 38rem;
    }
}

@media only screen and (max-width: 900px) {
    .welcome p {
        max-width: 35rem;
        margin-top: 2rem;
        margin-bottom: 1.25rem;
    }
}

@media only screen and (max-width: 650px) {
    .welcome {
        padding-top: 18%;
    }
    
    .welcome p {
        font-size: 0.9375rem;
    }
}

@media only screen and (max-width: 470px) {
    .welcome {
        padding: 15% 0.5rem;
    }
    
    .welcome p {
        font-size: 0.875rem;
    }

    .welcome a {
        font-size: 0.875rem;
    }
}



/* Projects section */
#projects {
    margin-top: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-outer-container {
    width: 95%;
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.project-img-title-container {
    width: 40%;
    max-width: 27rem;
    position: relative;
    top: 1rem;
}

.project-img-container {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    border: 2px solid var(--color-branding);
    position: relative;
    cursor: pointer;
}

.project-img-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

.project-img-title-container p {
    font-size: 1.25rem;
    text-align: center;
    letter-spacing: var(--letter-spacing-1);
    margin-top: 1.5rem;
}

.project-description-container {
    /* border: 1px solid blue; */
    width: 45%;
}

.project-summary {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    color: var(--color-text-darkerWhite);
}

.project-tech {
    font-size: 0.9375rem;
    line-height: 1.5;
    color: var(--color-text-darkerWhite);
}

.project-tech span {
    font-weight: 700;
    color: var(--color-branding);
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1280px) {
    .project-outer-container {
        margin-top: 1rem;
    }

    .project-img-title-container {
        width: 43%;
    }

    .project-summary {
        font-size: 1rem;
        line-height: 1.4;
        margin-bottom: 1.375rem;
    }

    .project-tech {
        font-size: 0.875rem;
        line-height: 1.5;
    }
}

@media only screen and (max-width: 1000px) {
    .project-outer-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1.75rem;
    }

    .project-img-title-container {
        width: 100%;
        max-width: 30rem;
        display: flex;
        flex-direction: column-reverse;
        top: 0;
    }

    .project-img-title-container p {
        font-size: 1.75rem;
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    .project-description-container {
        width: 80%;
    }

    .project-summary {
        margin-bottom: 1.25rem;
    }
}

@media only screen and (max-width: 720px) {
    .project-img-title-container {
        width: 90%;
    }

    .project-img-title-container p {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .project-outer-container {
        gap: 1.5rem;
    }

    .project-summary {
        font-size: 0.9375rem;
        margin-bottom: 1.125rem;
    }

    .project-tech {
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 480px) {
    .project-outer-container {
        gap: 1.25rem;
    }

    .project-img-title-container p {
        font-size: 1.25rem;
        margin-bottom: 1.25rem;
    }

    .project-summary {
        font-size: 0.875rem;
        margin-bottom: 0.875rem;
    }

    .project-tech {
        line-height: 1.4;
    }
}



/* About section */
#about {
    margin-top: 12rem;
    padding-right: 2rem;
}

#about > h2 {
    position: relative;
    left: 2rem;
}

#about > div {
    margin-top: 6.5rem;
    display: flex;
    justify-content: center;
    gap: 14rem;
}

.bio-container {
    max-width: 35rem;
}

.bio-container p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
    color: var(--color-text-darkerWhite);
}

.bio-container button {
    margin-top: 0.5rem;
}

.skills-main-container {
    min-width: 24rem;
}

.skills-container {
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.skill {
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
    background-color: #353535aa;
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 3px var(--color-branding);
}



/* Footer */
footer {
    width: 100%;
    margin-top: 15rem;
    padding: 0 20rem;
}

.contact-container {
    border-bottom: 1px solid #d8d8d8;
    padding: 0 12rem;
    padding-right: 14rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}

.contact-info > div {
    font-size: 1.125rem;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.contact-info > div:first-of-type {
    margin-bottom: 1.5rem;
}

.contact-info img {
    width: 24px;
    height: 24px;
}

.socials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.socials-container h3 {
    margin-bottom: 0;
}

.socials {
    display: flex;
    gap: 1.5rem;
}

.socials img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.copyright {
    text-align: center;
    margin-top: 1rem;
    padding: 2rem 0;
}